In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split 
import pandas as pd

In [53]:
from sklearn.metrics import accuracy_score

In [68]:
data=pd.read_csv('SetA/setAA.csv', sep=',')

In [69]:
data=data.fillna(0)

In [70]:
x=['HR', 'O2Sat', 'Temp', 'SBP', 'MAP', 'DBP', 'Resp', 'EtCO2',
       'BaseExcess', 'HCO3', 'FiO2', 'pH', 'PaCO2', 'SaO2', 'AST', 'BUN',
       'Alkalinephos', 'Calcium', 'Chloride', 'Creatinine', 'Bilirubin_direct',
       'Glucose', 'Lactate', 'Magnesium', 'Phosphate', 'Potassium',
       'Bilirubin_total', 'TroponinI', 'Hct', 'Hgb', 'PTT', 'WBC',
       'Fibrinogen', 'Platelets', 'Age', 'Gender', 'Unit1', 'Unit2',
       'HospAdmTime', 'ICULOS']

In [71]:
X=data[x].copy()

In [35]:
X.fillna(0)

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS
0,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,83.14,0,0.0,0.0,-0.03,1
1,97.0,95.0,0.00,98.0,75.33,0.0,19.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,83.14,0,0.0,0.0,-0.03,2
2,89.0,99.0,0.00,122.0,86.00,0.0,22.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,83.14,0,0.0,0.0,-0.03,3
3,90.0,95.0,0.00,0.0,0.00,0.0,30.0,0.0,24.0,0.0,...,0.0,0.0,0.0,0.0,83.14,0,0.0,0.0,-0.03,4
4,103.0,88.5,0.00,122.0,91.33,0.0,24.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,83.14,0,0.0,0.0,-0.03,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3099,115.0,100.0,38.78,118.0,84.67,0.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.18,1,1.0,0.0,-0.02,29
3100,125.0,96.0,0.00,111.0,89.00,0.0,15.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.18,1,1.0,0.0,-0.02,30
3101,107.5,95.5,0.00,111.5,78.83,0.0,18.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.18,1,1.0,0.0,-0.02,31
3102,102.0,98.0,38.11,114.0,80.67,0.0,18.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.18,1,1.0,0.0,-0.02,32
3103,97.0,97.0,0.00,106.0,72.67,0.0,23.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,35.18,1,1.0,0.0,-0.02,33

In [72]:
y=data['SepsisLabel'].copy()

In [73]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [74]:
x_train

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS
50075,108.0,100.0,36.89,96.0,68.00,56.5,6.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,63.06,1,0.0,0.0,-0.03,2
38991,104.0,100.0,0.00,145.0,100.00,81.0,20.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,21.27,0,0.0,0.0,-0.03,45
159897,68.0,94.0,37.30,155.0,84.00,52.0,16.0,0.0,-3.0,18.0,...,30.2,10.0,0.0,102.0,85.04,1,0.0,0.0,-28.92,40
44896,160.0,99.0,0.00,0.0,90.00,0.0,25.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,24.92,0,0.0,0.0,-0.02,50
56639,97.0,99.0,37.80,118.5,82.50,61.0,21.0,0.0,-4.0,0.0,...,0.0,0.0,0.0,0.0,68.64,0,0.0,1.0,-114.27,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97639,57.0,0.0,0.00,0.0,0.00,0.0,15.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,24.37,0,0.0,0.0,-0.02,115
95939,0.0,0.0,0.00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,73.55,1,1.0,0.0,-19.28,1
152315,86.0,100.0,36.30,134.0,83.00,59.0,15.0,0.0,-4.5,0.0,...,0.0,0.0,0.0,0.0,73.46,1,0.0,1.0,-3.12,7
117952,77.0,99.5,0.00,115.0,81.50,65.0,20.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,48.08,0,0.0,1.0,-5.35,6
43567,83.0,97.0,0.00,122.5,81.83,0.0,13.5,0.0,0.0,23.0,...,25.5,11.9,0.0,135.0,56.60,1,1.0,0.0,-45.96,2

In [45]:
x_train=x_train.fillna(0)

In [46]:
x_train[:100]

,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,...,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS
2248,70.0,100.0,36.28,106.0,76.0,0.0,21.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,34.34,0,1.0,0.0,-0.01,12
895,96.0,91.0,37.44,124.5,63.0,53.0,26.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,87.80,0,1.0,0.0,-122.18,23
1554,109.0,0.0,0.00,84.0,68.0,0.0,27.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,46.35,0,0.0,0.0,-22.54,24
326,108.0,97.0,37.72,120.0,75.0,59.0,50.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,27.92,1,0.0,0.0,-0.03,71
1604,62.0,0.0,0.00,108.0,78.0,63.0,14.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,49.80,0,1.0,0.0,-25.96,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,96.5,94.0,37.56,114.0,65.0,45.0,14.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,87.80,0,1.0,0.0,-122.18,6
1379,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,55.39,0,1.0,0.0,-0.04,1
2733,76.0,99.0,37.90,100.5,68.0,57.0,25.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,48.85,1,0.0,1.0,-3.07,28
1912,104.0,100.0,0.00,133.0,104.0,85.0,16.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,51.59,0,0.0,0.0,-0.07,30
1412,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,21.0,...,0.0,5.3,0.0,186.0,55.39,0,1.0,0.0,-0.04,34

In [75]:
clf = RandomForestClassifier(max_depth=2, random_state=0)

In [76]:
clf.fit(x_train,y_train)

C:\Users\sourabh\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [50]:
x_test=x_test.fillna(0)

In [77]:
y_pred=clf.predict(x_test)

In [78]:
accuracy_score(y_true = y_test, y_pred = y_pred)

0.9762489762489762